html{
    background-color: rgba(0,0,0,0.9);
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
}
.title{
    color: orange;
    font-family: 'Creepster', cursive;
    font-size: 60px;
}

.edition{
    color: orange;
    font-family: 'ZCOOL KuaiLe', cursive;
}


#underscore{
    color: white;
    font-size: 50px;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
    height: 50px;
}



#wrongguess{
    color: white;
    font-size: 50px;
}


 #wrongs{
color: orange;
font-size: 30px;
font-family: 'ZCOOL KuaiLe', cursive;
}

#lives{
    color: orange;
    font-size: 50px;    
}

#win-count{
    font-family: 'Creepster', cursive;
}

#number2{
    margin-left: 55px;
}

#number{
    color: white;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 50px;  
    z-index: 3;
    animation: blink-animation .1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
    }


.hangman-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.press-key{
    color:orange;
    font-family: 'Creepster', cursive;
    font-size: 40px;
}


#wrong-gue {
    
}


.game-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {

 
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {


  

}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {


}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {


}    
