

html { 
    background: url(./pumpkin.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
  }

body {
    width: 100vw;
    height: 100vh;
}
.title{
    color: orange;
    font-family: 'Creepster', cursive;
    font-size: 60px;
}

.edition{
    color: orange;
    font-family: 'ZCOOL KuaiLe', cursive;
}


#underscore{
    color: white;
    font-size: 50px;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
}



#wrongguess{
    color: white;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}


 #wrongs{
color: orange;
font-size: 30px;
font-family: 'ZCOOL KuaiLe', cursive;
}

#lives{
    color: orange;
    font-size: 30px;    
}

#win-count{
    font-family: 'Creepster', cursive;
}

#number2{
    margin-left: 55px;
}

#number{
    color: white;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 50px;  
    margin: 0px;
    animation: blink-animation .1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
    }


.hangman-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.press-key{
    color:orange;
    font-family: 'Creepster', cursive;
    font-size: 40px;
}


.wrongs-container {
    margin-top: -10px;
}


.game-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {

    .title{
        color: orange;
        font-family: 'Creepster', cursive;
        font-size: 30px;
    }

    .press-key{
        color:orange;
        font-family: 'Creepster', cursive;
        font-size: 20px;
    }
    
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {


  

}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
    .title{
        color: orange;
        font-family: 'Creepster', cursive;
        font-size: 60px;
    }

    .press-key{
        color:orange;
        font-family: 'Creepster', cursive;
        font-size: 40px;
    }
    
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {

    .title{
        color: orange;
        font-family: 'Creepster', cursive;
        font-size: 60px;
    }
    .press-key{
        color:orange;
        font-family: 'Creepster', cursive;
        font-size: 40px;
    }
    
}    
